{erl_opts, [debug_info, {src_dirs, ["test"]}]}.
{lfe_first_files, []}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
    {src_dirs, ["test", "src"]}
  ]}.
{deps, [
   {lfe, "0.9.0", {git, "git://github.com/rvirding/lfe.git", {tag, "v0.9.0"}}},
   {lutil, ".*", {git, "https://github.com/lfex/lutil.git", {tag, "0.4.0"}}},
   {ltest, ".*", {git, "git://github.com/lfex/ltest.git", {tag, "0.4.0"}}},
   {kla, ".*", {git, "git://github.com/billosys/kla.git", {tag, "0.2.0"}}},
   {ljson, ".*", {git, "git://github.com/thorgisl/ljson.git", {tag, "0.1.0"}}},
   {e2, ".*",
     {git, "git://github.com/gar1t/e2.git",
      "fa55bb182496b2ba18df6f438f0561d3f1623a07"}},
   {econfig, ".*",
     {git, "git://github.com/benoitc/econfig.git", {tag, "0.4.2"}}}
  ]}.
